body {
  background-color:rgb(255, 255, 255)
}

#postbox {
  width: auto;
  border-radius: 30px;
  padding: 50px;
  border: 5px solid gray;
  margin-top: 50px;
  background-color: gray;
  
}

p {
  color:black
}

/* For Posts */
.post-card {
  background-color: var(--foreground-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-text-color);
}

.post-user {
  font-size: 1em;
  color: var(--secondary-text-color);
}

.post-content {
  font-size: 1em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-actions button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.post-actions button:hover {
  background-color: var(--button-hover-color);
}

 /* Dropdown Button */
 .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

