* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Setting for when in light them and Dark Mode is Toggled off*/
:root {
  --background-color: #ffffff;
  --foreground-color: #007bff;
  --primary-text-color: #212121;
  --secondary-text-color: #424242;
  --toggle-bg: #e0e0e0;
  --toggle-fg: #4caf50;
}

/* CSS for Dark Mode toggle - Setting for when in dark theme*/
[data-theme = "dark"] {
  --background-color: #121212;
  --foreground-color: #1e88e5;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --toggle-bg: #424242;
  --toggle-fg: #76ff03;
}