.toggle-container {
  position: absolute;
  top: 0em;
  right: 1em;
}

.toggle {
  visibility: hidden;
}

/* Set up to change theme of The Toggle it self from Light and Dark */
.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  cursor: pointer;
  color: var(--primary-text-color);
}

/* Background of toggle switch */
.toggle + label:before {
  content: "";
  height: 0.8em;
  width: 1.6em;
  border-radius: 0.8em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

/* Toggle switch foreground */
.toggle + label:after {
  content: "";
  height: 0.6em;
  width: 0.6em;
  border-radius: 0.8em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

/* moves the toggle circle when clicked based on here */
.toggle:checked + label:after {
  transform: translateX(100%);
}